<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{$article.title}</title>
    <style>
        .title{text-align: center;}
        .remark{background-color: #EEE;border-radius: 5px;padding: 8px;}
        .content img{width:100%;}
    </style>
</head>
<body>
<h3 class="title">{$article.title}</h3>
<p class="remark">{$article.remark}</p>
<div class="content">{$article.content}</div>
</body>
</html>