<div class="footer">
    <div class="footernr">
        <div class="left">
            <img src="/public/static/index/images/btlogo.png"/>
        </div>
        <div class="center">
            <h4><a href="/">网站首页</a>|<a href="{:url('index/contactus/contact')}">荣誉资质</a>|<a href="{:url('index/contactus/contact')}">关于我们</a>|<a href="{:url('index/comprofile/index')}">经营范围</a>|<a>法律声明</a>|<a href="http://map.baidu.com/?newmap=1&ie=utf-8&s=s%26wd%3Db" target="_blank">网站地图</a></h4>
            <p>电话：{$config.phone}&nbsp;&nbsp;&nbsp;&nbsp;传真：{$config.email}</p>
            <p>地   址：{$config.address}&nbsp;&nbsp;&nbsp;&nbsp;网址：www.hctech.com.cn</p>
            <p>Copyright © 2009 - 2017 东升时代版权所有&nbsp;&nbsp;京ICP备16031131号  </p>
        </div>
        <div class="right">
            <img src="/public/static/index/images/ewm.jpg"/>
            <p>扫描二维码关注</p>
        </div>
    </div>
</div>